.hello{
	display:grid;
	grid-template-columns:repeat(5, 1fr);
    gap: 20px;
}

a{
	display:inline-block;
	background-color: black;
	width: 20%;
	color: red;
	text-decoration: none;
	border-radius: 5px;
}
body{
	background-color:;
}

.footer{

	text-align: center;
	padding: 3px;
	bottom: 0px;
	color:white;
	background-color:darksalmon;
}